* @paxlabs-inc @Sidiora-Labs/core

src/ @Sidiora-Labs/core
include/ @Sidiora-Labs/core
cmd/ @Sidiora-Labs/core
agent/ @Sidiora-Labs/core
platform/ @Sidiora-Labs/core
programs/ @Sidiora-Labs/core
human/ @Sidiora-Labs/core
contracts/ @Sidiora-Labs/core
/admin/ @Sidiora-Labs/core
/api/ @Sidiora-Labs/core
/assets/ @Sidiora-Labs/core
/benchmark/ @Sidiora-Labs/core
/consensus/ @Sidiora-Labs/core
/custodyproof/ @Sidiora-Labs/core
/daemon/ @Sidiora-Labs/core
/docker/ @Sidiora-Labs/core
/engine/ @Sidiora-Labs/core
/example/ @Sidiora-Labs/core
/hpx/ @Sidiora-Labs/core
/integration_test/ @Sidiora-Labs/core
/interchain/ @Sidiora-Labs/core
/loadtest/ @Sidiora-Labs/core
/modules/ @Sidiora-Labs/core
/node/ @Sidiora-Labs/core
/occ_tests/ @Sidiora-Labs/core
/parallelization/ @Sidiora-Labs/core
/precompiles/ @Sidiora-Labs/core
/ratelimiter/ @Sidiora-Labs/core
/rpc/ @Sidiora-Labs/core
/sdk/ @Sidiora-Labs/core
/storage/ @Sidiora-Labs/core
/store/ @Sidiora-Labs/core
/sync/ @Sidiora-Labs/core
/testutil/ @Sidiora-Labs/core
/types/ @Sidiora-Labs/core
/utils/ @Sidiora-Labs/core
/wasm/ @Sidiora-Labs/core
/wasm-runtime/ @Sidiora-Labs/core
/wasmbinding/ @Sidiora-Labs/core
/go.mod @Sidiora-Labs/core
/go.sum @Sidiora-Labs/core
/chain.mk @Sidiora-Labs/core
spec/ @Sidiora-Labs/core
docs/ @Sidiora-Labs/core
