/node_modules
node_modules/
/.next
/dist
/build
/coverage
/out
/.push-data
/public/coolicons
/public/lib
/tmp
temp/
/nginx
/test-results
/public/sw.js
/playwright-report
.env
.env.*
*.keystore
*.jks
*.p12
*.pfx
*.mobileprovision
*.pem
tsconfig.tsbuildinfo
*.tsbuildinfo
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.iml
